<h1>Revoke a token</h1>
<p>With this form, you can revoke the access of an already existing token.</p>
<form action="/token/revoke" method="POST">
	<input type="text" name="token" placeholder="token" required />
	<button type="submit">Revoke</button>
</form>